<!-- Volver -->
<a href="/dashboard" class="mb-5 flex text-blue-500 items-center gap-2">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left">
    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
    <path d="M15 6l-6 6l6 6" />
  </svg>
  Volver al Dashboard
</a>

<div class="container mx-auto px-4 py-8">

  <div class="flex justify-between items-center mb-6">

    <h1 class="text-3xl font-bold">Gestión de Categorías</h1>
    @if (rol === 'ADMON') {
    <button (click)="toggleForm()"
      class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
      {{ showForm ? 'Cancelar' : 'Nueva Categoría' }}
    </button>
    }
  </div>

  <!-- Formulario de Categoría -->
  @if (showForm && rol === 'ADMON') {
  <div class="mb-8">
    <div class="max-w-2xl mx-auto bg-white rounded-sm shadow-sm border border-gray-200 p-12">
      <h2 class="text-2xl font-bold mb-6">
        {{ categoriaSeleccionada.idCategoria !== 0 ? 'Editar Categoría' : 'Alta de Nueva Categoría' }}
      </h2>

      <form (ngSubmit)="handleSubmit(categoriaSeleccionada || { idCategoria: 0, nombre: '', descripcion: '' })"
        class="space-y-4">
        <div>
          <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre</label>
          <input type="text" id="nombre" name="nombre" [(ngModel)]="categoriaSeleccionada.nombre"
            class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-sm focus:outline-none focus:ring-2 focus:ring-blue-600"
            required>
        </div>

        <div>
          <label for="descripcion" class="block text-sm font-medium text-gray-700">Descripción</label>
          <textarea id="descripcion" name="descripcion" [(ngModel)]="categoriaSeleccionada.descripcion"
            class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-sm focus:outline-none focus:ring-2 focus:ring-blue-600"
            rows="4"></textarea>
        </div>

        <div class="flex justify-end space-x-4 mt-6">
          <button type="button" (click)="toggleForm()"
            class="px-4 py-2 bg-gray-200 text-gray-700 rounded-md hover:bg-gray-300">
            Cancelar
          </button>
          <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700">
            {{ categoriaSeleccionada ? 'Guardar Cambios' : 'Crear Categoría' }}
          </button>
        </div>
      </form>
    </div>
  </div>
  }@else {

  <!-- Lista de Categorías -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    @for (categoria of categorias; track categoria.idCategoria) {
    <div class="bg-white rounded-sm shadow-sm border border-gray-200 p-12">
      <h2 class="text-xl font-semibold mb-2">{{ categoria.nombre }}</h2>
      <p class="text-gray-600 mb-4">{{ categoria.descripcion }}</p>

      @if (rol === 'ADMON') {
      <div class="flex space-x-2">
        <button (click)="editarCategoria(categoria)"
          class="px-3 py-1 bg-yellow-100 text-yellow-700 rounded-md hover:bg-yellow-200">
          Editar
        </button>
        <button (click)="eliminarCategoria(categoria.idCategoria)"
          class="px-3 py-1 bg-red-100 text-red-700 rounded-md hover:bg-red-200">
          Eliminar
        </button>
      </div>
      }
    </div>
    }
  </div>
  }
</div>