<section class="max-w-7xl mx-auto px-4 mt-15 relative flex justify-center">
    <!-- Tarjeta de solicitud -->
    <div class="w-full max-w-md bg-white rounded-sm shadow-sm border border-gray-200 p-12 space-y-6">
      <h4 class="text-2xl mb-2 font-semibold text-center text-gray-800">Solicitar vacante</h4>
      <h3 class="text-lg font-semibold text-gray-800"></h3>

      <label for="comentarios" class="block text-sm font-medium mb-1">Vacante</label>
      <input disabled placeholder="{{nombreVacante}}" name="archivo" (change)="onFileChange($event)" accept=".pdf"
      class="mt-1 w-full px-4 py-2 cursor-not-allowed border border-gray-300 rounded-sm focus:outline-none focus:ring-2 focus:ring-blue-600" />
      <form #form="ngForm" (ngSubmit)="enviarSolicitud()" class="space-y-5" enctype="multipart/form-data">
  
        <!-- Comentarios -->
        <div>
          <label for="comentarios" class="block text-sm font-medium mb-1">Comentarios</label>
          <textarea id="comentarios" placeholder="Cuéntanos brevemente por qué encajas con esta vacante" name="comentarios" required [(ngModel)]="solicitud.comentarios"
            class="mt-1 w-full px-4 py-2 text-sm border border-gray-300 rounded-sm focus:outline-none focus:ring-2 focus:ring-blue-600"
            rows="4"
            [ngClass]="{'border-red-500': comentarios.invalid && comentarios.touched}" #comentarios="ngModel"></textarea>
          @if (comentarios.invalid && comentarios.touched) {
            <div class="text-red-500 text-sm">Los comentarios son obligatorios.</div>
          }
        </div>
  
        <!-- Archivo CV -->
        <div>
          <label for="archivo" class="block text-sm font-medium mb-1">Curriculum vitae (<span class="text-xs">PDF</span>)</label>
          <input type="file" id="archivo" name="archivo" (change)="onFileChange($event)" accept=".pdf"
            class="mt-1 w-full text-xs px-4 py-2 border border-gray-300 rounded-sm focus:outline-none focus:ring-2 focus:ring-blue-600" />
        </div>
  
        <!-- Botón enviar -->
        <button type="submit"
          class="w-full bg-blue-500 hover:bg-blue-700 mt-5 text-white font-semibold py-2 px-4 rounded-sm transition duration-300">
          Enviar solicitud
        </button>
      </form>
    </div>
  </section>