/* input.ng-valid.ng-touched{
    border-bottom: 2px solid lightgreen;
}

input.ng-invalid.ng-touched{
    border-bottom: 2px solid rgb(194, 18, 100);
}

.error {
    color: rgb(194, 18, 100);
    font-size: 80%;
    margin: 0px 0px 0px 15px;
} */