@if(vacante){
<section>
    <!-- Volver -->
    <a href="/" class="mb-5 flex text-blue-500 items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M15 6l-6 6l6 6" />
        </svg>
        Volver a la página principal
    </a>

    <!-- Card principal -->
    <div class="relative rounded-sm shadow-sm border border-gray-200 bg-white p-6 md:p-10 mb-5">

        <!-- Badge destacado -->
        @if(vacante.destacado){
        <div
            class="absolute top-0 right-5 sm:right-10 flex items-center gap-2 bg-lime-200/60  text-lime-700 text-sm font-semibold px-4  py-3 rounded-b-xl">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-star">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
            </svg>
            Vacante destacada
        </div>
        }

        <!-- Flex Container -->
        <div class="flex items-center flex-col md:flex-row gap-10">

            <!-- Imagen -->
            <div class="flex justify-center md:justify-start">
                <img [src]="vacante.imagen" [alt]="vacante.nombre"
                    class="w-48 h-48 object-cover rounded-md" (error)="imagenError($event)" />
            </div>

            <!-- Información -->
            <div class=" justify-between flex-grow ">
                <!-- Nombre -->
                <h1 class="text-2xl md:text-4xl mb-2">{{ vacante.nombre }}</h1>
                <!-- Empresa -->
                <a href="/empresa/ {{vacante.empresa.idEmpresa}}">
                    <h3 class="inline text-base md:text-lg text-blue-500 hover:underline mb-4">{{
                        vacante.empresa.nombreEmpresa }}</h3>
                </a>

                <!-- Info adicional -->
                <div class="flex flex-col lg:flex-row gap-0 ">
                    <div class="flex-1 space-y-2">
                        <p class="mb-2"><strong>Categoría:</strong>
                            <a href="/categoria/{{vacante.empresa.idEmpresa}}"><span
                                    class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded-sm border border-blue-400 ml-2">
                                    {{ vacante.categoria.nombre }}
                                </span></a>
                        </p>
                        <p class="mb-2"><strong>Salario:</strong> {{ vacante.salario }} €</p>
                        <p class="mb-2">
                            <strong>Estado: </strong>
                            <span [ngClass]="{
                                    'text-green-600 font-bold text-sm ': vacante.estatus === 'CREADA',
                                    'text-red-500 font-bold text-sm': vacante.estatus === 'CUBIERTA',
                                    'text-gray-400-600 font-bold text-sm': vacante.estatus === 'CANCELADA'
                                  }">{{ vacante.estatus }}</span>
                        </p>
                    </div>
                    <div class="flex-1 space-y-2">
                        <p class="mb-2"><strong>Lugar:</strong> {{ vacante.empresa.direccionFiscal }}</p>
                        <p class="mb-2"><strong>País:</strong> {{ vacante.empresa.pais }}</p>
                        <p class="mb-2"><strong>Publicada en:</strong> {{ formatearFecha(vacante.fecha) }}</p>
                    </div>


                </div>
            </div>

        </div>
    </div>

    <!-- Descripción -->
    <div class="rounded-sm shadow-sm border border-gray-200 bg-white p-6 md:p-10">
        <div class="mb-6">
            <h4 class="text-xl md:text-2xl font-semibold mb-2">Detalles del puesto</h4>
            <p class="text-gray-700">{{ vacante.descripcion }}</p>
            <p class="mt-2 text-gray-700">{{ vacante.detalles }}</p>
        </div>

        @if(rol=='CLIENTE'){

            @if(yaHaAplicado){
                <div class="flex justify-center mt-8">
                    <a [routerLink]="['/solicitudes']"><button type="button"
                        class="cursor-pointer bg-gray-400 text-white font-semibold py-3 px-6 rounded-lg shadow-md transition duration-300 ease-in-out  opacity-50">
                        Vacante ya solicitada
                    </button></a>
                </div>
            }@else{
                <div class="flex justify-center mt-8">
                    <a [routerLink]="['/aplicar', vacante.idVacante]"><button type="button"
                        class="bg-orange-400 hover:bg-orange-600 text-white font-semibold py-3 px-6 rounded-lg shadow-md transition duration-300 ease-in-out cursor-pointer">
                        Aplicar a este empleo
                    </button></a>
                </div>
            }

        }@else {
        <!-- Botón Aplicar -->
        <div class="flex justify-center mt-8">
            <a href="login"><button type="button"
                    class="bg-orange-400 hover:bg-orange-600 text-white font-semibold py-3 px-6 rounded-lg shadow-md transition duration-300 ease-in-out cursor-pointer ">
                    Aplicar a este empleo
                </button></a>
        </div>
        }
    </div>

    <!-- Botones Modificar / Eliminar -->
    @if(rol=='ADMON'){
    <div class="flex flex-col md:flex-row justify-between mt-10 gap-4">
        <a [routerLink]="['/vacante/modificar', vacante.idVacante]">
            <button type="button"
                class="w-full md:w-auto bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Modificar
            </button>
        </a>
        <button (click)="borrarvacante()" type="button"
            class="w-full md:w-auto bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
            Eliminar
        </button>

        <!-- <app-button [parent]="'view'" [id]="vacante.idVacante"></app-button> -->
    </div>
    }

</section>
}