<nav class="bg-white border-gray-200 border-1">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <div>
                <svg viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                    preserveAspectRatio="xMidYMid">
                    <defs>
                        <linearGradient id="a" x1="45.082%" x2="55.522%" y1="-1.343%" y2="97.61%">
                            <stop offset="0%" stop-color="#FCF84A" />
                            <stop offset="32%" stop-color="#ABE682" />
                            <stop offset="79%" stop-color="#36CDD2" />
                            <stop offset="100%" stop-color="#07C3F2" />
                        </linearGradient>
                        <linearGradient id="b" x1="-2.942%" x2="100.445%" y1="38.992%" y2="62.105%">
                            <stop offset="0%" stop-color="#3BEA62" />
                            <stop offset="100%" stop-color="#087CFA" />
                        </linearGradient>
                        <linearGradient id="c" x1="-3.308%" x2="111.745%" y1="71.807%" y2="15.462%">
                            <stop offset="0%" stop-color="#009AE5" />
                            <stop offset="18%" stop-color="#0490DD" />
                            <stop offset="49%" stop-color="#1073C6" />
                            <stop offset="89%" stop-color="#2346A1" />
                            <stop offset="100%" stop-color="#293896" />
                        </linearGradient>
                    </defs>
                    <path fill="url(#a)"
                        d="M46.36 255.991c91.075-7.978 170.982-63.92 209.64-146.768C208.12 40.799 129.873.033 46.36 0c-7.44 0-14.915.33-22.424.99C-14.676 83.893-6.128 181.099 46.36 255.99Z" />
                    <path fill="url(#b)"
                        d="M24.209 1.024a301.387 301.387 0 0 1 134.685 108.199H256C208.263 40.76 130.062-.03 46.6 0c-7.441 0-14.905.341-22.391 1.024Z" />
                    <path fill="url(#c)"
                        d="M158.894 109.223C147.187 186.6 46.258 255.99 46.258 255.99c91.781-8.67 172.23-63.622 209.742-146.768h-97.106Z" />
                </svg>
            </div>
            <span class="self-center text-2xl font-semibold whitespace-nowrap ">Dev Empleo</span>
        </a>
        <div class="flex ">
            <button type="button" data-collapse-toggle="navbar-search" aria-controls="navbar-search"
                aria-expanded="false"
                class="md:hidden text-gray-500  hover:bg-gray-100  focus:outline-none focus:ring-4 focus:ring-gray-200  rounded-lg text-sm p-2.5 me-1">
                <span class="sr-only">Search</span>
            </button>
            <div class="relative hidden md:block">
                <form (ngSubmit)="enviarBusqueda()" class="inline-flex m-auto w-full">
                    <input [(ngModel)]="busqueda" name="busqueda" type="text" id="search-navbar"
                      class="block w-40 lg:w-80 xl:w-100 p-2 text-sm text-gray-900 border border-gray-300 rounded-s-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                      placeholder="Buscar vacante">
                    <button type="submit"
                      class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-4 rounded-e-md ms-0">
                      <svg class="w-4 h-4 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 20 20">
                        <path stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                      </svg>
                    </button>
                  </form>
            </div>
            @if(!estaLogeado){
            <button
                class="md:hidden mr-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Login</button>
            }
            @if(estaLogeado()){
            <a href="/dashboard"><button
                    class="cursor-pointer block md:hidden bg-blue-500 hover:bg-blue-700 text-white text-sm font-bold py-3 px-4 me-4 rounded">Dashboard</button></a>
            }@else {
                <div class="md:hidden w-full">
                    <a href="/login" class="bcursor-pointer block md:hidden bg-blue-500 hover:bg-blue-700 text-white text-sm font-bold py-3 px-4 me-4 rounded">Login</a>
                  </div>
            }


            <button (click)="toggleMenu()" data-collapse-toggle="navbar-search" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 d"
                aria-controls="navbar-search" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
        </div>
        <div [ngClass]="{'hidden': !isMenuOpen, 'block': isMenuOpen}"
            class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-search">
            <div class="relative mt-3 md:hidden">
                <form (ngSubmit)="enviarBusqueda()" class="flex w-full gap-1">
                  <input [(ngModel)]="busqueda" name="busqueda" type="text" id="search-navbar"
                    class="block w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-s-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 flex-1"
                    placeholder="Buscar vacante">
                  <button type="submit"
                    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-4 rounded-e-md ms-0">
                    <svg class="w-4 h-4 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                      fill="none" viewBox="0 0 20 20">
                      <path stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                  </button>
                </form>
            </div>
            <ul
                class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white items-center">



                <li class="relative group">

                    

                    <a href="#"
                        class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">
                        Empleos
                    </a>
                    <div id="dropdownNavbar"
                        class="absolute z-10 hidden group-hover:block border border-gray-300 font-normal bg-white divide-y divide-gray-100 rounded-sm shadow-sm w-44 ">
                        <ul class="py-2 text-sm text-gray-700 ">
                            @for(item of arrayCategorias; track item.idCategoria){
                            <li><a href="/categoria/{{item.idCategoria}}"
                                    class="block px-4 py-2 hover:bg-gray-100 hover:text-blue-500 font-medium">{{item.nombre}}</a>
                            </li>
                            }
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/empresas"
                        class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 ">Empresas</a>
                </li>
             <!--    @if (rol === 'ADMON') {
                <li>
                    <a href="/categorias"
                        class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 ">Categorías</a>
                </li>
                }  -->

                

                @if(estaLogeado()){
                <li class="relative group">
                    <a href="dashboard" class="hidden md:block bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-4 rounded">
                        Dashboard
                    </a>

                    <div
                        class="absolute right-0 z-10 mt-0 hidden group-hover:block border border-gray-300 bg-white rounded-sm shadow-sm w-48">
                        <ul class="py-2 text-sm text-gray-700">

                            <!-- CLIENTE -->
                            @if (rol === 'CLIENTE') {
                            <li><a routerLink="/solicitudes"
                                    class="cursor-pointer hover:text-blue-500 block px-4 py-2 hover:bg-gray-100">📄 Mis Solicitudes</a>
                            </li>
                            }

                            <!-- EMPRESA -->
                            @else if (rol === 'EMPRESA') {
                            <li><a routerLink="/vacantes/nueva"
                                    class="cursor-pointer hover:text-blue-500 block px-4 py-2 hover:bg-gray-100">➕ Publicar Vacante</a>
                            </li>
                            <li><a routerLink="/vacantes"
                                    class="cursor-pointer hover:text-blue-500 block px-4 py-2 hover:bg-gray-100">📋 Mis Vacantes</a>
                            </li>
                            <li><a routerLink="/solicitudes/empresa"
                                    class="cursor-pointer hover:text-blue-500 block px-4 py-2 hover:bg-gray-100">📥 Solicitudes</a>
                            </li>
                            <li><a routerLink="/perfil"
                                    class="cursor-pointer hover:text-blue-500 block px-4 py-2 hover:bg-gray-100">🏢 Perfil Empresa</a>
                            </li>
                            }

                            <!-- ADMON -->
                            @else if (rol === 'ADMON') {
                            <li><a routerLink="/categorias"
                                    class="cursor-pointer hover:text-blue-500 block px-4 py-2 hover:bg-gray-100">📂 Categorías</a>
                            </li>
                            <li><a routerLink="/empresas"
                                    class="cursor-pointer hover:text-blue-500 block px-4 py-2 hover:bg-gray-100">🏢 Gestión Empresas</a>
                            </li>
                            <li><a routerLink="/usuarios"
                                    class="cursor-pointer hover:text-blue-500 block px-4 py-2 hover:bg-gray-100">👥 Usuarios</a>
                            </li>
                            <li><a routerLink="/administradores"
                                    class="cursor-pointer hover:text-blue-500 block px-4 py-2 hover:bg-gray-100">🛠️ Administradores</a>
                            </li>
                            }

                            <!-- Cerrar sesión (para cualquier rol) -->
                            @if (rol) {
                            <li><button (click)="logout()"
                                    class="cursor-pointer block w-full text-left px-4 py-2 text-red-600 hover:bg-red-50">⏻ Cerrar Sesión</button>
                            </li>
                            }
                            @else {
                            <li><a routerLink="/login" class="block px-4 py-2 hover:bg-gray-100">🔑 Login</a></li>
                            }
                        </ul>
                    </div>
                </li>

                }

                @if(!estaLogeado()){
                <a href="login"
                    class="hidden md:block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Login</a>
                }

                <!-- @if(estaLogeado()){
                <button (click)="logout()"
                    class="hidden md:block bg-red-500 hover:bg-red-700 text-white text-sm font-bold py-2 px-4 rounded cursor-pointer">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-logout"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" /><path d="M9 12h12l-3 -3" /><path d="M18 15l3 -3" /></svg>
                </button>
                } -->
            </ul>
        </div>
    </div>
</nav>