<!-- Volver -->
<a href="/dashboard" class="mb-5 flex text-blue-500 items-center gap-2">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left">
    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
    <path d="M15 6l-6 6l6 6" />
  </svg>
  Volver al Dashboard
</a>

<div class="container mx-auto px-4 py-8">

    <div class="flex justify-between items-center mb-6">
      <h2 class="text-xl font-semibold text-gray-800">Gestión de empresas</h2>
    </div>

  <!-- Formulario de Empresa -->
    <div class="mb-8">
      <app-alta-empresa 
      [empresaSeleccionada]="empresaSeleccionada" 
      (onSubmitForm)="handleSubmit($event)"
      (onCancelarEdicion)="cancelarEdicion()">
    </app-alta-empresa>   </div>
  

  <!-- Lista de Empresas -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-20">
    @for (empresa of array; track empresa.idEmpresa) {
      <div class="bg-white rounded-sm shadow-sm border border-gray-200 p-12 ">
        <h2 class="text-xl font-semibold mb-2">{{ empresa.nombreEmpresa }}</h2>
        <p class="text-gray-600 mb-2">CIF: {{ empresa.cif }}</p>
        <p class="text-gray-600 mb-2">País: {{ empresa.pais }}</p>
        <p class="text-gray-600 mb-4">Email: {{ empresa.email }}</p>
        
        <div class="flex space-x-2">
          @if (rol === 'ADMON') {
            <button (click)="verDetalles(empresa.idEmpresa)"
                    class="px-3 py-1 cursor-pointer bg-blue-100 text-blue-700 rounded-md hover:bg-blue-200">
              Detalles
            </button>
            <button (click)="editarEmpresa(empresa)"
                    class="px-3 py-1 bg-yellow-100 text-yellow-700 rounded-md hover:bg-yellow-200 cursor-pointer">
              Editar
            </button>
            <button (click)="eliminarEmpresa(empresa.idEmpresa)"
                    class="px-3 py-1 bg-red-100 text-red-700 rounded-md hover:bg-red-200 cursor-pointer">
              Eliminar
            </button>
          }
          @else {
            <a [routerLink]="['/empresa', empresa.idEmpresa]"><button
                    class="px-3 py-1 bg-blue-100 text-blue-700 rounded-md hover:bg-blue-200 cursor-pointer">
              Ver vacantes disponibles
            </button></a>
          }
        
        </div>
      </div>
    }
  </div>
    </div>