<div class="p-10 rounded-sm shadow-sm border flex flex-col sm:flex-row gap-4 md:items-center h-full"
  [ngClass]="{
    'bg-green-50 border-green-500': item.estatus === 'CUBIERTA',
    'bg-white border-gray-200': item.estatus === 'CREADA'
  }">

  <!-- Imagen -->
  <!-- <div class="flex-shrink-0 flex justify-center md:justify-start">
            <img 
              [src]="'http://localhost:9001/uploads/' + item.imagen" 
              [alt]="item.nombre"
              class="w-32 h-32 object-cover rounded"
              (error)="imagenError($event)" />
        </div> -->

  <!-- Contenido -->
  <div class="flex flex-col justify-between flex-grow">


    <!-- Nombre -->
    <a href="vacante/{{item.idVacante}}" class=" ">
      <h3 class="text-lg font-medium mb-1 text-blue-600">{{ item.nombre }}     <span
        class="text-xs font-semibold border me-2 ms-5 px-2.5 py-0.5 rounded-sm"
        [ngClass]="{
          'bg-green-100 text-green-700': item.estatus === 'CUBIERTA',
          'bg-yellow-100 text-yellow-700': item.estatus === 'CREADA',
          'bg-red-100 text-red-700': item.estatus === 'CANCELADA',
          'bg-gray-100 text-gray-700': item.estatus !== 'CUBIERTA' && item.estatus !== 'ABIERTA' && item.estatus !== 'CANCELADA'
        }"
      >
        {{ item.estatus }}
      </span></h3> 
    </a>

    <!-- Solicitudes -->
    @if (arraySolicitudes.length > 0) {
    <div class="mt-2 text-sm text-gray-700 overflow-x-auto">
      <table class="min-w-full text-sm text-left mt-2 border border-gray-300 rounded">
        <thead class="bg-gray-100 text-gray-700">
          <tr class="">
            <th class="py-3 px-4 text-left text-sm font-medium text-gray-700">Email</th>
            <th class="py-3 px-4 text-left text-sm font-medium text-gray-700">Comentarios</th>
            <th class="py-3 px-4 text-left text-sm font-medium text-gray-700">Estado</th>
            <th class="py-3 px-4 text-left text-sm font-medium text-gray-700">Currículum</th>

            <th class="py-3 px-4 text-left text-sm font-medium text-gray-700">Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (solicitud of arraySolicitudes; track solicitud.idSolicitud) {
          <tr class="border-t border-gray-300">

            <td class="py-3 px-4 text-sm text-gray-800">{{ solicitud.email || '—' }}</td>

            <td class="py-3 px-4 text-sm text-gray-800">{{ solicitud.comentarios }}</td>
            <td class="py-3 px-4 text-sm text-gray-800">
              <span [ngClass]="{
                              'text-green-600': solicitud.estado === 1,
                              'text-red-600': solicitud.estado === 2,
                              'text-gray-500': solicitud.estado === 0
                            }">
                {{ obtenerTextoEstado(solicitud.estado) }}
              </span>
            </td>

            <td class="py-3 px-4 text-sm text-gray-800">
              <a [href]="'http://localhost:9001/api/solicitudes/archivo/' + solicitud.archivo" target="_blank"><button
                  class="bg-blue-500 hover:bg-blue-600 text-white py-1 px-3 rounded text-sm disabled:hidden me-2 cursor-pointer">Ver</button>
              </a>

              

            </td>
            <td class="py-3 px-4 text-sm text-gray-800">

              <button
              class="bg-green-500 hover:bg-green-600 text-white py-1 px-3 rounded text-sm cursor-pointer disabled:hidden disabled:cursor-not-allowed"
              (click)="asignarSolicitud(solicitud.idSolicitud, item.idVacante)"
              [disabled]="solicitud.estado !== 0">
              Asignar
            </button>

              <button
              class="bg-red-500 hover:bg-red-600 text-white py-1 px-3 rounded text-sm cursor-pointer disabled:hidden disabled:cursor-not-allowed ms-3"
              (click)="cancelarSolicitud(solicitud.idSolicitud)" [disabled]="solicitud.estado !== 0">
              Cancelar
            </button>

            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    } @else {
    <div class="mt-2 text-sm text-gray-500 italic">
      No hay solicitudes todavía.
    </div>
    }
  </div>



</div>