<div class="p-10 rounded-sm shadow-sm border flex flex-col sm:flex-row gap-4 md:items-center h-full relative" [ngClass]="{
    'bg-red-50 border-red-300': item.estatus === 'CANCELADA',
    'bg-blue-50 border-blue-500': item.estatus === 'CUBIERTA',
    'bg-white border-gray-200': item.estatus === 'CREADA',
  }">

          <!-- Badge destacado -->
          @if(item.destacado){
            <div
                class="absolute top-0 right-10 m-0 flex items-center gap-1 bg-lime-200/60 text-lime-700 text-xs font-semibold px-3 py-1 rounded-b-xl z-10 border-b border-r border-l border-lime-500 shadow-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-star">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                </svg>
                Destacada
            </div>
            }

  <!-- Imagen -->
  <div class="hidden lg:flex flex-shrink-0 justify-center md:justify-start">
    <img [src]="item.imagen" [alt]="item.nombre" class="w-32 h-32 object-cover rounded me-5"
      (error)="imagenError($event)" />
  </div>

  <!-- Contenido -->
  <div class="flex flex-col justify-between flex-grow">


    <div class="flex justify-between items-center mb-2">
      <a href="vacante/{{item.idVacante}}">
        <h3 class="text-lg font-medium text-blue-600">
          {{ item.nombre }}
          <span class="text-xs font-semibold border ms-4 px-2.5 py-0.5 rounded-sm" [ngClass]="{
            'bg-blue-100 text-blue-700 ': item.estatus === 'CUBIERTA',
            'bg-green-100 text-green-700': item.estatus === 'CREADA',
            'bg-red-100 text-red-700': item.estatus === 'CANCELADA',
            'bg-gray-100 text-gray-700': item.estatus !== 'CUBIERTA' && item.estatus !== 'ABIERTA' && item.estatus !== 'CANCELADA'
          }">
            {{ item.estatus }}
          </span>
        </h3>
      </a>


    </div>

    <div class="mt-0">
      @if(item.estatus === 'CREADA'){

      <a [routerLink]="['/vacantes/editar/', item.idVacante]">
        <button class="bg-blue-400 hover:bg-blue-500 text-white py-1 px-3 rounded text-sm">
        Editar
      </button>
    </a>
        <button (click)="cambiarEstado(item.idVacante, 'CANCELADA')" class="bg-red-500 hover:bg-red-600 text-white py-1 px-3 rounded text-sm ms-2">
          Cancelar
        </button>
      }
      @if(item.estatus === 'CANCELADA'){

          <button (click)="cambiarEstado(item.idVacante, 'CREADA')" class="bg-green-500 hover:bg-green-600 text-white py-1 px-3 rounded text-sm">
            Habilitar
          </button>
        }

    </div>

    <!-- Solicitudes -->
    @if (arraySolicitudes.length > 0) {
    <div class="mt-2 text-sm text-gray-700 overflow-x-auto">
      <table class="min-w-full text-left mt-2 border border-gray-300 rounded">
        <thead class="bg-gray-100 text-gray-700">
          <tr>
            <th class="py-3 px-4 text-left text-sm font-medium text-gray-700 w-30">Email</th>
            <th class="py-3 px-4 text-left text-sm font-medium text-gray-700 w-60">Comentarios</th>
            <th class="py-3 px-4 text-left text-sm font-medium text-gray-700 w-20">Currículum</th>
            <th class="py-3 px-4 text-left text-sm font-medium text-gray-700 w-24">Estado</th>
            <th class="py-3 px-4 text-left text-sm font-medium text-gray-700 w-30">Acciones</th>
          </tr>
        </thead>
        <tbody class="bg-white">
          @for (solicitud of arraySolicitudes; track solicitud.idSolicitud) {
            <tr class="border-t border-gray-300"
            [ngClass]="{
              'bg-green-50': solicitud.estado === 1,
              'bg-red-50': solicitud.estado === 2,
              'bg-white': solicitud.estado === 0
            }">

            <td class="py-3 px-4 text-sm text-gray-800 w-30">{{ solicitud.email || '—' }}</td>

            <td class="py-3 px-4 text-sm text-gray-800 w-60">{{ solicitud.comentarios }}</td>
            <td class="py-3 px-4 text-sm text-gray-800  w-20">
              <a [href]="apiUrl + '/solicitudes/archivo/' + solicitud.archivo" target="_blank">
                <button class="bg-blue-500 hover:bg-blue-600 text-white py-1 px-3 rounded text-sm disabled:hidden me-2 cursor-pointer">Ver</button>
              </a>



            </td>
            <td class="py-3 px-4 text-sm text-gray-800  w-24">
              <span class=" py-1 px-2 text-xs rounded-md font-semibold" [ngClass]="{
                              ' bg-green-600 text-green-50': solicitud.estado === 1,
                              ' bg-red-400 text-red-50': solicitud.estado === 2,
                              'bg-gray-200 text-gray-700': solicitud.estado === 0
                            }">
                {{ obtenerTextoEstado(solicitud.estado) }}
              </span>
            </td>


            <td class="py-3 px-4 text-sm text-gray-800 flex gap-2 w-30">

              @if(item.estatus == 'CREADA'){
              <button
                class="bg-green-500 hover:bg-green-600 text-white py-1 px-1.5 rounded-md text-sm cursor-pointer disabled:hidden disabled:cursor-not-allowed"
                (click)="asignarSolicitud(solicitud.idSolicitud, item.idVacante)" [disabled]="solicitud.estado !== 0">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="3"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
              </button>

              <button
                class="bg-red-500 hover:bg-red-600 text-white py-1 px-1.5 rounded-md text-sm cursor-pointer disabled:hidden disabled:cursor-not-allowed"
                (click)="cancelarSolicitud(solicitud.idSolicitud)" [disabled]="solicitud.estado !== 0">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="3"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
              </button>
            }@else {
              <button
              class="bg-green-500  text-white py-1 px-1.5 rounded-md text-sm cursor-pointer disabled:opacity-10 disabled:cursor-auto"
              (click)="asignarSolicitud(solicitud.idSolicitud, item.idVacante)" [disabled]="item.estatus !== 0">
              <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="3"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
            </button>

            <button
              class="bg-red-500  text-white py-1 px-1.5 rounded-md text-sm cursor-pointer disabled:opacity-10 disabled:cursor-auto"
              (click)="cancelarSolicitud(solicitud.idSolicitud)" [disabled]="item.estatus !== 0">
              <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="3"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
            </button>
            }
            </td>
          </tr>
          }
        </tbody>
      </table>
      
    </div>
    } @else {
    <div class="mt-2 text-sm text-gray-500 italic">
      No hay solicitudes todavía.
    </div>
    }


  </div>


</div>