<!-- crear-empresa.component.html -->
<div class="container">
    <h2>Registrar Empresa</h2>
  
    <!-- Formulario para ingresar datos de la empresa -->
    <form (ngSubmit)="onSubmit()" #empresaForm="ngForm">
      <div class="form-group">
        <label for="cif">CIF</label>
        <input type="text" id="cif" class="form-control" [(ngModel)]="empresa.cif" name="cif" required />
      </div>
      <div class="form-group">
        <label for="nombreEmpresa">Nombre de la Empresa</label>
        <input type="text" id="nombreEmpresa" class="form-control" [(ngModel)]="empresa.nombreEmpresa" name="nombreEmpresa" required />
      </div>
      <div class="form-group">
        <label for="direccionFiscal">Dirección Fiscal</label>
        <input type="text" id="direccionFiscal" class="form-control" [(ngModel)]="empresa.direccionFiscal" name="direccionFiscal" required />
      </div>
      <div class="form-group">
        <label for="pais">País</label>
        <input type="text" id="pais" class="form-control" [(ngModel)]="empresa.pais" name="pais" required />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" [(ngModel)]="empresa.email" name="email" required />
      </div>
  
      <button type="submit" class="btn btn-primary">Crear Empresa</button>
    </form>
  
    <div [@if]="passwordGenerada">
        <h3>La contraseña generada es: {{ passwordGenerada }}</h3>
      </div>
    </div>